.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #D8BFD8;
    color: #4B0082
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px;
    margin-right: .8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #16479D;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #4B0082;
    color: #fff;
}

/*O sinal de maior informa o que vai ser afetado também no hover*/
.navbar li:hover > a {
    background-color: #4B0082;
    color: #fff;
}